/* Inserta tu CSS aqui */
.contenedor{
    width: 1000px;
    height: 500px;
    background-color: #77c66c;
    padding: 20px;
}
.caja{
    outline: solid 1px white;
    width: 1000px;
    height: 500px;
    position: relative;
}
.arco1, .arco2{
    width: 150px;
    height: 250px;
    outline: solid 1px white;
    position: relative
}
.arco1{
    top: 125px;   
}
.arco2{
    position: absolute;
    right: 0px;
    top: 125px;  
}
.centro{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: relative;
    margin-left: 400px;
    margin-top: -100px;
    border: solid 1px white; 
}

.p1{
    position: absolute;
    top: 132px;
    left: 140px;
}
.p2{
    position: absolute;
    top: 85px;
    left: 510px;
}
.p3{
    position: absolute;
    top: 350px;
    left: 820px;
}